.footer {
	background: #55a0cc;
	height: 50px;
	width: 100%;
	color: #ffffff;
	position: fixed;
}

.searchbar {
	padding-top: 50px;
}

.searchpage {
	background-color: #dbe3f0;
	flex-direction: column;
	display: "flex";
}
