.logo{
    width: 15%;
    height: 5%;
}

.impact{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color: "#42424";
    font-family: "Fira Sans";

}

.mission{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color: "#42424";
    font-family: "Fira Sans";
}

.donate{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color: "#42424";
    font-family: "Fira Sans";
}

.orglink{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.profile{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.dashboard{
    padding-right: 10%;
    display: inline-flex;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);
}